.demo-1 {
	--color-text: rgb(111, 169, 236);
	--color-bg: rgb(111, 169, 236);
	--color-link: #fff;
	--color-link-hover: #cfc1c3;
	--color-info: #383233;
	--color-title: #fff;
	--color-subtitle: rgb(111, 169, 236);
	--color-subtitle-bg: #f5fafc;
}

.content__title {
	font-size: 10vw;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
	font-size: 1.25em;
	background: var(--color-subtitle-bg);
	color: var(--color-subtitle);
	padding: 0.45em 0.5em;
	line-height: 1;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3em;
	}
	.content__subtitle {
		font-size: 0.85em;
	}
}